/* 
body {
    background:url(../fondo.jpg) ;
} */


/* body {
    background:url(../fondo.jpg) ;
    background-repeat: ;
} */

/* body {
    background:url(../fondo.jpg) ;
    background-repeat:no-repeat ;
} */

/* body {
    background:url(../fondo.jpg) ;
    background-repeat:repeat-x ;
} */
/* 
body {
    background:url(../fondo.jpg) ;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    color: red
} */

/* div {
    /* background-color: orangered; */
    /* background: url(../fondo.jpg);
    height:300px ;
  
} */ 



body {
    background:url(../fondo.jpg) ;
    background-repeat:no-repeat ;
    background-attachment: fixed;
    color: red;
    /* background-position:50% 0 ; */
    /* background-position:500px 200px ; */
    /* background-position:center ; Centra en el documento  */
    background-position:center 0 ; /* Centra en el documento pero no se desplaza en y*/




}