/* body {
    font-size:16px ;
}
div {
    font-size:20px ;
}
div p{
    font-size: 1em;
} */

body {
    font-size: 16px;
}

/* div {
    background: #000;
    color:#fff;
    width:100px;
} */

div {
    background: #000;
    color:#fff;
    width:50%;
}