/* https://htmlcolorcodes.com/es/ */

/* h1 {
    color:rgb(53, 131, 44)
} */


/*esta es la forma mas utilizada pero no se le puede dar transparencia*/
h1 {
    color:#313B9D
}

/* 
rgba el ultimo valor indica una transparencia  */
 h2 {
    color:rgba(53, 131, 44 , .5)
}